.menu_en {
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: #3F84D5;
}

.online_female {
	font-family: 'ms sans serif';
	font-size: 13px;
	font-weight: bold;
	color: #F29EEF;
}

.online_male {
	font-family: 'ms sans serif';
	font-size: 13px;
	font-weight: bold;
	color: #71ADF1;
}

.en {
	font-family: verdana;
	font-size: 12px;
}

.th {
	font-family: 'ms sans serif';
	font-size: 14px;
}

.msg_style1 {
	font-family: 'ms sans serif';
	font-size: 17px;
	color: #0033FF;
}

.msg_style2 {
	font-family: 'ms sans serif';
	font-size: 17px;
	color: #FF9933;
}

.editor {
	font-family: 'ms sans serif';
	font-size: 14px;
	border: solid 1px #999999;
}

.logout {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #dddddd #999999 #999999 #dddddd;
	color: red;
}